.container-atualizar{
    /* background-color: rgba(224, 222, 222, 0.295); */
    text-align: center;
    padding: 0;
    margin: 0;
    border: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.048);
}

.card-atualizar{
    margin-top: 25px;
    margin-bottom: 25px;
    padding:15px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: inline-block;
}

.btn-atualizar{
    margin-top: 1rem;
    align-content: center;  
    justify-content: center;
    text-align: center;
}

.toolbar-atualizar{
    align-content: center;  
    justify-content: center;
    text-align: center;
    display: flex;
}