a:hover {
    color: lightgray;
}

.container .justify-content-md-center.row {
    background-color: rgba(224, 222, 222, 0.295);
    border: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.048);
}

.container .justify-content-md-center.pagination {
    margin: 1rem;
    background-color: white;
}

.card.bg-white {
    width: 350px;
    height: 350px;
    margin: 9px;
    background-color: white;
}

.card.bg-light .card-body .card-header {
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    padding: 10;
    width: 100%;
}

.card.bg-light .card-body .card-header .card-title .h5{
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    padding: 10;
    width: 100%;
    justify-content: center;
    
}

.card-title.h5{
    align-content: center;
    justify-content: center;
}

.card-body .card-header {
    width: 100%;
    margin:0;
}

.card-header{
    text-align: center;
    padding-bottom: 0;
}

.card-text {
    text-align: center;
}


.card-title h5{
    justify-content: center;
    justify-items: center;
    
}

.titulo {
    vertical-align: middle;
    width: 100%;  
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
    font-weight: bold;
}

.card-body.bg-white{
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative; 
    border: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.301);
}

.justify-content-md-center {
    justify-content: center;
    align-items: center;
    align-content: center;  
    justify-content: center;
}

.card-header {
    vertical-align: middle;
    margin: 10px;
    /* background-color: rgb(231, 230, 230); */ 
    background-color: #ffffff00;
    border-bottom: 1px;
    border-bottom-color: rgb(202, 202, 202);
    border-bottom-style: solid;
}

.btn-update{
    align-content: center;  
    justify-content: center;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.btn-update Button{
    background-color: #bbeffd36;
    color: #007bff;
}

ul.justify-content-md-center-pagination{
    background-color: #bbeffd36;
}

.corpo {
    margin: 0.75rem;
}