.sugg{
    position: relative;
    z-index: 150;
    margin-right: 5px;
}

.btn-search{
    margin-left: 5px;
}

.logo p{
    font-size: xx-large;
    color: #bbeffd;
    margin: 0;
    padding: 0;
}
