.sugg{
    position: relative;
    z-index: 150;
    margin-right: 45px;
}

.btn-search{
    margin-left: 5px;
}

.logo p{
    font-size: xx-large;
    color: #bbeffd;    
    font-weight: bold;
    margin-left: 41px;
    margin-bottom: 0;
    padding: 0;
}

.main-navbar{
    position: relative;
    width: 100%;
    z-index: 150;
}