* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.849);
    /* background: url(./images/cine1.jpg) fixed; */
    /* background-size: 100%; */
   
}